:host {
  .l-chart-container {
    padding: 10px 10px 0 10px;

    width: 100%;

    display: flex;
    flex-wrap: wrap;
  }

  .l-container-item {
    width: calc(50% - 15px);
    height: calc(33vh - 60px);
    margin-bottom: 10px;
    margin-right: 10px;
  }
}
