:host {
  .l-data {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: calc(100% - 100px);
    padding: 0 0 0 70px;
  }

  .l-left {
    flex: 0 0 300px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 50px 0;
  }

  #chartContainer1 {
    flex: 0 0 40%;
    width: 100%;
  }
  #chartContainer2 {
    flex: 0 0 40%;
    width: 100%;
  }
  #chartContainer {
    flex: auto;
    height: calc(100vh - 240px);
    margin-top: 15px;
    padding-top: 15px;
  }

  .l-process {
    padding: 30px;
  }

  .l-form {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    color: #b0fffa;
    font-size: 24px;
    line-height: 36px;

    &__label {
      flex: 0 0 55%;
      text-align: right;
    }

    &__content {
      flex: auto;
      text-align: left;
    }
  }

  .l-log-container {
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: 100%;
    height: calc(100vh - 200px);
    margin-top: 10px;
    padding-right: 15px;
    padding-bottom: 15px;
    overflow-y: auto;
  }

  .l-log-container::-webkit-scrollbar {
    width: 4px;
  }

  .l-log-container::-webkit-scrollbar-track {
    background-color: rgb(255 255 255 / 50%);
  }

  .l-log-container::-webkit-scrollbar-thumb {
    background-color: rgb(255 255 255 / 70%);
  }

  ::ng-deep {
    .ant-tabs-nav-list div:first-child {
      border-radius: 6px 0px 0px 6px !important;
    }
    .ant-tabs-nav-list div:nth-child(2) {
      border-radius: 0px 6px 6px 0px !important;
    }
    .ant-tabs-tab {
      background-color: #1a465d;
      border: solid 1px #1ddbff;
    }

    .ant-tabs-card > .ant-tabs-nav .ant-tabs-tab-active {
      background-color: #0d6d82;
      box-shadow: inset 0px 0px 12px 0px #18d6ff;
    }
    .ant-tabs-top > .ant-tabs-nav::before,
    .ant-tabs-bottom > .ant-tabs-nav::before,
    .ant-tabs-top > div > .ant-tabs-nav::before,
    .ant-tabs-bottom > div > .ant-tabs-nav::before {
      display: none;
    }
    .ant-tabs-card.ant-tabs-top > .ant-tabs-nav .ant-tabs-tab + .ant-tabs-tab {
      margin-left: 0;
    }
    .ant-tabs-top > .ant-tabs-nav,
    .ant-tabs-bottom > .ant-tabs-nav,
    .ant-tabs-top > div > .ant-tabs-nav,
    .ant-tabs-bottom > div > .ant-tabs-nav {
      margin: 5px;
    }

    .ant-tabs-tab .ant-tabs-tab-btn {
      color: #98ffed;
    }
    .ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn {
      color: #fff;
    }
    .ant-tabs-ink-bar {
      background: #98ffed;
    }
    .ant-tabs-tab:hover {
      color: #98ffed;
    }
    // 选择样式
    .ant-tabs-card > .ant-tabs-nav .ant-tabs-tab-active,
    .ant-tabs-card > div > .ant-tabs-nav .ant-tabs-tab-active {
      background-color: #163c3e;
    }

    // progress 文本样式
    .ant-progress-circle .ant-progress-text {
      color: #98ffed;
    }

    .ip-tabs {
      .ant-tabs-nav-wrap {
        background-color: hsl(201, 80%, 19%);
        border: solid 1px #1d506d;
      }

      .ant-tabs-nav-list div:first-child {
        border-radius: 0 !important;
      }
      .ant-tabs-nav-list div:nth-child(2) {
        border-radius: 0 !important;
      }
      .ant-tabs-tab {
        min-width: 80px;
        padding: 10px;
        background-color: transparent;
        border: none;

        display: flex;
        align-items: center;
        justify-content: center;
      }

      .ant-tabs-tab-active {
        background-color: #152637 !important;
      }
      .ant-tabs-tab + .ant-tabs-tab {
        margin: 0 0 0 5px;
      }

      .ant-tabs-tab .ant-tabs-tab-btn {
        color: #98ffed;
      }
      .ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn {
        color: #fff;
      }
      .ant-tabs-ink-bar {
        background: transparent;
      }
      .ant-tabs-tab:hover {
        color: #98ffed;
      }
      // 选择样式
      .ant-tabs-card > .ant-tabs-nav .ant-tabs-tab-active,
      .ant-tabs-card > div > .ant-tabs-nav .ant-tabs-tab-active {
        background-color: #163c3e;
      }
    }

    .ant-alert-with-description .ant-alert-icon {
      margin-right: 15px;
      margin-top: auto;
      margin-bottom: auto;
      font-size: 34px;
    }
  }
}
