:host {
  .l-page {
    width: 100%;
    height: calc(100vh - 64px);
  }

  .l-data {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    padding: 0 15px 0 25px;
  }

  .l-left {
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    padding-top: 15px;

    .l-abc {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }

  #chartContainer {
    flex: auto;
    height: calc(100vh - 240px);
    margin-top: 15px;
    padding-top: 15px;
  }

  .l-process {
    padding: 30px;
  }

  .l-form {
    display: flex;
    align-items: flex-end;
    min-height: 28px;

    &__label {
      margin-right: 10px;
      color: #69d4c6;
      font-size: 16px;
      line-height: 18px;
    }

    &__content {
      color: #98ffed;
      font-size: 24px;
      line-height: 24px;
    }
  }

  .l-log-container {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 100%;
    height: calc(100vh - 200px);
    margin-top: 10px;
    padding-right: 15px;
    padding-bottom: 15px;
    overflow-y: auto;
  }

  .l-log-container::-webkit-scrollbar {
    width: 4px;
  }

  .l-log-container::-webkit-scrollbar-track {
    background-color: rgb(255 255 255 / 50%);
  }

  .l-log-container::-webkit-scrollbar-thumb {
    background-color: rgb(255 255 255 / 70%);
  }

  ::ng-deep {
    .ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn {
      color: #98ffed;
    }
    .ant-tabs-ink-bar {
      background: #98ffed;
    }
    .ant-tabs-tab:hover {
      color: #98ffed;
    }
    // 选择样式
    .ant-tabs-card > .ant-tabs-nav .ant-tabs-tab-active,
    .ant-tabs-card > div > .ant-tabs-nav .ant-tabs-tab-active {
      background-color: #163c3e;
    }

    // progress 文本样式
    .ant-progress-circle .ant-progress-text {
      color: #98ffed;
    }
  }
}
