<div class="modal-header">
  <div class="modal-title" *ngIf="record.id">编辑配置</div>
  <div class="modal-title" *ngIf="!record.id">新增配置</div>
</div>
<nz-spin *ngIf="!formData" class="modal-spin"></nz-spin>

<div style="width: 100%; margin: 0 auto" *ngIf="formData">
  <form nz-form se-container="2" #f="ngForm" [gutter]="2" [labelWidth]="210">
    <se [label]="labels.name.cn" required>
      <input type="text" nz-input [(ngModel)]="formData.name" name="name" required placeholder="请输入任务名称" />
    </se>

    <se [label]="labels.path.cn" required col="2" optionalHelp="属性名: path">
      <input type="text" nz-input [(ngModel)]="formData.path" name="path" required placeholder="请输入路径" />
    </se>

    <se [label]="labels.algorithm.cn" required col="2" optionalHelp="属性名: algorithm">
      <nz-select [(ngModel)]="formData.algorithm" style="width: 100px" name="algorithm">
        <nz-option [nzLabel]="model" [nzValue]="model" *ngFor="let model of rlModelAlgorithms"></nz-option>
      </nz-select>
    </se>

    <se [label]="labels.mode.cn" col="2" optionalHelp="属性名: mode">
      <nz-select [(ngModel)]="formData.mode" style="width: 100px" name="mode">
        <nz-option [nzLabel]="model" [nzValue]="model" *ngFor="let model of rlModes"></nz-option>
      </nz-select>
    </se>

    <se [label]="labels.algorithm_type.cn" required col="2" optionalHelp="属性名: algorithm_type">
      <nz-select [(ngModel)]="formData.algorithm_type" style="width: 100px" name="algorithm_type">
        <nz-option [nzLabel]="option.label" [nzValue]="option.value" *ngFor="let option of booleanOptions"></nz-option>
      </nz-select>
    </se>
    <se [label]="labels.render.cn" required col="2" optionalHelp="属性名: render">
      <nz-select [(ngModel)]="formData.render" style="width: 100px" name="render">
        <nz-option [nzLabel]="option.label" [nzValue]="option.value" *ngFor="let option of booleanOptions"></nz-option>
      </nz-select>
    </se>

    <se [label]="labels.server_num.cn" col="2" required optionalHelp="属性名: server_num">
      <nz-input-number [(ngModel)]="formData.server_num" [nzPrecision]="0" [nzStep]="1" name="server_num"></nz-input-number>
    </se>
    <se [label]="labels.collection_env_num.cn" col="2" required optionalHelp="属性名: collection_env_num">
      <nz-input-number [(ngModel)]="formData.collection_env_num" [nzStep]="1" [nzPrecision]="0" name="collection_env_num"></nz-input-number>
    </se>
    <se [label]="labels.max_episode_length.cn" col="2" required optionalHelp="属性名: max_episode_length">
      <nz-input-number [(ngModel)]="formData.max_episode_length" [nzStep]="1" [nzPrecision]="0" name="max_episode_length"></nz-input-number>
    </se>
    <se [label]="labels.worker_num.cn" col="2" required optionalHelp="属性名: worker_num">
      <nz-input-number [(ngModel)]="formData.worker_num" [nzStep]="1" [nzPrecision]="0" name="worker_num"></nz-input-number>
    </se>
    <se [label]="labels.env_num.cn" col="2" required optionalHelp="属性名: env_num">
      <nz-input-number [(ngModel)]="formData.env_num" [nzStep]="1" [nzPrecision]="0" name="env_num"></nz-input-number>
    </se>
    <se [label]="labels.batch_size.cn" col="2" required optionalHelp="属性名: batch_size">
      <nz-input-number [(ngModel)]="formData.batch_size" [nzStep]="1" [nzPrecision]="0" name="batch_size"></nz-input-number>
    </se>
    <se [label]="labels.memory_size.cn" col="2" optionalHelp="属性名: memory_size">
      <nz-input-number [(ngModel)]="formData.memory_size" [nzStep]="1" [nzPrecision]="0" name="memory_size"></nz-input-number>
    </se>
    <se [label]="labels.init_step_count.cn" col="2" optionalHelp="属性名: init_step_count">
      <nz-input-number [(ngModel)]="formData.init_step_count" [nzStep]="1" [nzPrecision]="0" name="init_step_count"></nz-input-number>
    </se>
    <se [label]="labels.samples_per_insert.cn" col="2" optionalHelp="属性名: samples_per_insert">
      <nz-input-number [(ngModel)]="formData.samples_per_insert" name="samples_per_insert" [nzStep]="0.1"></nz-input-number>
    </se>
    <se [label]="labels.learning_rate.cn" col="2" optionalHelp="属性名: learning_rate">
      <nz-input-number [(ngModel)]="formData.learning_rate" [nzStep]="0.1" name="learning_rate"></nz-input-number>
    </se>
    <se [label]="labels.target_mode_dir.cn" col="2" required optionalHelp="属性名: target_mode_dir">
      <input type="text" nz-input [(ngModel)]="formData.target_mode_dir" name="target_mode_dir" required placeholder="请输入路径" />
    </se>
  </form>
</div>
<div class="modal-footer">
  <button nz-button type="button" (click)="close()">关闭</button>
  <button nz-button nzType="primary" [disabled]="!isValid" (click)="save()"> 保存 </button>
</div>
