<div class="modal-header">
  <div class="modal-title" *ngIf="record.id">训练参数配置</div>
  <div class="modal-title" *ngIf="!record.id">训练参数配置</div>
</div>
<nz-spin *ngIf="!formData" class="modal-spin"></nz-spin>

<div style="width: 100%; margin: 0 auto" *ngIf="formData">
  <form nz-form se-container="2" #f="ngForm" [gutter]="2" [labelWidth]="210">
    <se [label]="labels.task_name.cn" required [optionalHelp]="labels.task_name.en" col="2">
      <input type="text" nz-input [(ngModel)]="formData.task_name" name="task_name" placeholder="请输入任务名称" />
    </se>

    <se [label]="labels.model_path.cn" required col="2" [optionalHelp]="labels.model_path.en">
      <input type="text" nz-input [(ngModel)]="formData.model_path" name="model_path" placeholder="请输入生成模型路径" />
    </se>

    <se [label]="labels.config_path.cn" required col="2" [optionalHelp]="labels.config_path.en">
      <input type="text" nz-input [(ngModel)]="formData.config_path" name="config_path" placeholder="请输入配置代码路径" />
    </se>

    <se [label]="labels.log_path.cn" required col="2" [optionalHelp]="labels.log_path.en">
      <input type="text" nz-input [(ngModel)]="formData.log_path" name="log_path" placeholder="请输入训练日志路径" />
    </se>

    <se [label]="labels.collection_node_num.cn" required col="2" [optionalHelp]="labels.collection_node_num.en">
      <nz-input-number
        style="width: 100%"
        [(ngModel)]="formData.collection_node_num"
        [nzPrecision]="0"
        [nzStep]="1"
        [nzMin]="1"
        [nzMax]="20"
        name="collection_node_num"
      ></nz-input-number>
    </se>

    <se [label]="labels.node_collection_num.cn" required col="2" [optionalHelp]="labels.node_collection_num.en">
      <nz-input-number
        style="width: 100%"
        [(ngModel)]="formData.node_collection_num"
        [nzPrecision]="0"
        [nzStep]="1"
        [nzMin]="1"
        [nzMax]="16"
        name="node_collection_num"
      ></nz-input-number>
    </se>

    <se [label]="labels.evaluation_num.cn" required col="2" [optionalHelp]="labels.evaluation_num.en">
      <nz-input-number
        style="width: 100%"
        [(ngModel)]="formData.evaluation_num"
        [nzPrecision]="0"
        [nzStep]="1"
        [nzMin]="1"
        [nzMax]="10"
        name="evaluation_num"
      ></nz-input-number>
    </se>

    <se [label]="labels.store_node_num.cn" required col="2" [optionalHelp]="labels.store_node_num.en">
      <nz-input-number
        style="width: 100%"
        [(ngModel)]="formData.store_node_num"
        [nzPrecision]="0"
        [nzStep]="1"
        [nzMin]="1"
        [nzMax]="10"
        name="store_node_num"
      ></nz-input-number>
    </se>

    <se [label]="labels.decision_algorithm.cn" col="2" [optionalHelp]="labels.decision_algorithm.en" placeholder="请选择智能算法">
      <nz-select [nzAllowClear]="true" [(ngModel)]="formData.decision_algorithm" style="width: 100%" name="decision_algorithm">
        <nz-option [nzLabel]="model" [nzValue]="model" *ngFor="let model of rlModelAlgorithms"></nz-option>
      </nz-select>
    </se>

    <se [label]="labels.model_type.cn" col="2" [optionalHelp]="labels.model_type.en" placeholder="请选择神经网络类型">
      <nz-select [nzAllowClear]="true" [(ngModel)]="formData.model_type" style="width: 100%" name="model_type">
        <nz-option [nzLabel]="model" [nzValue]="model" *ngFor="let model of rlModes"></nz-option>
      </nz-select>
    </se>

    <se [label]="labels.other_config.cn" col="2" [optionalHelp]="labels.other_config.en">
      <input type="text" nz-input [(ngModel)]="formData.other_config" name="other_config" placeholder="请输入自定义配置" />
    </se>
  </form>
</div>
<div class="modal-footer">
  <button nz-button type="button" (click)="close()">关闭</button>
  <button nz-button nzType="primary" [disabled]="!isValid" (click)="save()"> 保存 </button>
</div>
