<div class="l-page">
  <div class="l-header">
    <div class="l-header__icon" nz-icon nzType="codepen" nzTheme="outline"></div>
    <!-- <span nz-icon nzType="codepen" nzTheme="outline"></span>
    <span nz-icon nzType="codepen" nzTheme="outline"></span> -->

    <div class="l-header__title"> 博弈对抗智能演进系统 </div>
    <div class="l-header__separate"> </div>
    <div class="l-header__clock">
      {{ clockTime }}
    </div>
    <div class="l-header__date">
      <div>{{ dateString }}</div>
      <div>{{ weekString }}</div>
    </div>
  </div>

  <div class="l-content">
    <div class="c-card" (click)="jumpPos('cv')">
      <div class="c-card__avatar" nz-icon nzType="code-sandbox-circle" nzTheme="fill"></div>

      <div class="c-card__title"> 智能感知模型学习训练 </div>
      <div class="c-card__desc">
        描述：智能感知模型学习训练是指通过对数据进行学习，使模型能够自动理解、分类和识别信息。这个过程可以使用监督学习、非监督学习和强化学习等技术进行。通过不断调整模型的参数，智能感知模型可以提高其准确性和效率，从而更好地满足各种应用场景的需求。
      </div>
    </div>
    <div class="c-card" (click)="jumpPos('rl')">
      <div class="c-card__avatar" nz-icon nzType="slack-circle" nzTheme="fill"></div>

      <div class="c-card__title"> 智能决策模型学习训练 </div>
      <div class="c-card__desc">
        描述：智能决策模型学习训练是指通过对数据进行分析和建模，使模型能够自动做出最优决策。这个过程可以使用规则推理、机器学习和深度学习等技术进行。通过不断优化和调整模型的参数，智能决策模型可以逐渐提高其准确性和效率，从而更好地服务于各种决策场景。
      </div>
    </div>
  </div>
</div>
