<div class="l-page">
  <div class="l-header">
    <img class="l-header__icon" src="../../../assets/boyi_02.svg" />

    <div class="l-header__title"> 博弈对抗智能演进系统 </div>
    <div class="l-header__separate"> </div>
    <div class="l-header__clock">
      {{ clockTime }}
    </div>
    <div class="l-header__date">
      <div>{{ dateString }}</div>
      <div>{{ weekString }}</div>
    </div>
  </div>

  <div class="l-content">
    <div class="c-card" (click)="jumpPos('cv')">
      <div class="c-card__avatar" nz-icon nzType="code-sandbox-circle" nzTheme="fill"></div>

      <div class="c-card__title"> 智能感知模型训练工具 </div>
      <div class="c-card__desc">
        智能感知模型学习训练主要指通过对感知类数据进行学习，使模型能够自动分类、检测目标信息，该过程包括智能感知模型学习训练、智能感知模型对抗样本生成及智能感知模型对抗训练三类任务，支持智能感知模型迭代训练演进。
      </div>
    </div>
    <div class="c-card" (click)="jumpPos('rl')">
      <div class="c-card__avatar" nz-icon nzType="slack-circle" nzTheme="fill"></div>

      <div class="c-card__title"> 智能决策模型训练工具 </div>
      <div class="c-card__desc">
        智能决策模型学习训练主要通过强化学习技术实现智能最优决策，并通过数据采集多级并行、训练数据分布式存储、任务执行全流程并发等解决决策模型学习训练的数据采集性能瓶颈，大幅提高训练效果，支持智能决策模型迭代训练演进。
      </div>
    </div>
  </div>
</div>
