<div class="l-page">
  <div class="l-header">
    <div class="l-header__icon" nz-icon nzType="codepen" nzTheme="outline"></div>
    <!-- <span nz-icon nzType="codepen" nzTheme="outline"></span>
    <span nz-icon nzType="codepen" nzTheme="outline"></span> -->

    <div class="l-header__title"> 智能模型训练系统 </div>
    <div class="l-header__separate"> </div>
    <div class="l-header__clock">
      {{ clockTime }}
    </div>
    <div class="l-header__date">
      <div>{{ dateString }}</div>
      <div>{{ weekString }}</div>
    </div>
  </div>

  <div class="l-content">
    <div class="c-card" (click)="jumpPos('cv')">
      <div class="c-card__avatar" nz-icon nzType="code-sandbox-circle" nzTheme="fill"></div>

      <div class="c-card__title"> 智能感知模型学习训练 </div>
      <div class="c-card__desc">
        描述：now 当前本地时间 date 当前本地日期（不包含时间部分） removeTime 移除日期的时间部分 format 格式化日期 getDiffDays
        计算两个日期相差天数，0 表示同一天 disabledBeforeDate 禁用之前日期（默认：今天），一般服务于 nzDisabledDate disabledAfterDate
        禁用之后日期（默认：今天），一般服务于 nzDisabledDate disabledBeforeTime 禁用之前时间（默认：现在），一般服务于 nzDisabledTime
        disabledAfterTime 禁用之后时间（默认：现在），一般服务于 nzDisabledTime disabledDate = dateTimePickerUtil.disabledBeforeDate();
        disabledDateTime = dateTimePickerUtil.disabledBeforeTime( offsetSeconds: 60 * 5 ); getTimeDistance 获取时间范围，返回 [ Date, Date]
        表示开始与结束日期，例如：获取本周时间： getTimeDistance('week') 参数
      </div>
    </div>
    <div class="c-card" (click)="jumpPos('rl')">
      <div class="c-card__avatar" nz-icon nzType="slack-circle" nzTheme="fill"></div>

      <div class="c-card__title"> 智能决策模型学习训练 </div>
      <div class="c-card__desc"> 待填充 </div>
    </div>
    <div class="c-card" (click)="jumpPos('rl')">
      <div class="c-card__avatar" nz-icon nzType="slack-circle" nzTheme="fill"></div>

      <div class="c-card__title"> 智能决策模型学习训练 </div>
      <div class="c-card__desc"> 待填充 </div>
    </div>
  </div>
</div>
