:host {
  // ::ng-deep {
  //   .alain-default__content {
  //     margin: 64px 0 0 200px;
  //     width: calc(100vw - 200px);
  //   }

  //   .alain-default__collapsed .alain-default__content {
  //     margin-left: 64px;
  //     width: calc(100vw - 64px);
  //   }
  // }
  ::ng-deep {
    .sidebar-nav__group-title {
      padding: 8px 4px;
    }

    .sidebar-nav__item-link {
      padding: 8px 28px 8px 4px;
    }

    .sidebar-nav__depth1 .sidebar-nav__item-link {
      padding-left: 38px;
    }

    .alain-default__content {
      margin-bottom: 0;
    }

    // 控制整体背景颜色
    .alain-default {
      // background: rgba(48, 53, 59, 1);
      // background: rgba(0, 0, 0, 0.6);
      background: #101522;
    }

    // header颜色
    .alain-default__fixed .alain-default__header {
      position: fixed;
      top: 0;
      left: 0;
      box-shadow: inset 0 0 25px 0 rgba(36, 79, 100, 1);
      background-color: #101522;
      border: 1px solid #224e4d;
    }

    // 侧边栏颜色
    .alain-default__aside-inner {
      box-shadow: inset 0 0 25px 0 rgba(36, 79, 100, 1);
      background-color: #101522;
      border: 1px solid #224e4d;
    }

    // 选择器颜色
    .sidebar-nav__selected {
      background-color: transparent;
      border-left-color: transparent;
    }

    // content header颜色
    .alain-default .page-header {
      box-shadow: inset 0 0 25px 0 rgba(36, 79, 100, 1);
      background-color: #101522;
      border: 1px solid #224e4d;
    }

    // card样式
    .ant-card-body {
      box-shadow: inset 0 0 25px 0 rgba(36, 79, 100, 1);
      background-color: #101522;
      border: 1px solid #224e4d;
    }
  }
}
