:host {
  // ::ng-deep {
  //   .alain-default__content {
  //     margin: 64px 0 0 200px;
  //     width: calc(100vw - 200px);
  //   }

  //   .alain-default__collapsed .alain-default__content {
  //     margin-left: 64px;
  //     width: calc(100vw - 64px);
  //   }
  // }
  ::ng-deep {
    .sidebar-nav__group-title {
      padding: 8px 4px;
    }
    .sidebar-nav__item-link {
      padding: 8px 28px 8px 4px;
    }
    .sidebar-nav__depth1 .sidebar-nav__item-link {
      padding-left: 38px;
    }
    .alain-default__content {
      margin-bottom: 0;
    }
  }
}
