<page-header [action]="phActionTpl">
  <ng-template #phActionTpl>
    <button (click)="uploadDatasets()" nz-button nzType="primary" style="margin-right: 10px">上传数据集</button>
    <button (click)="uploadModels()" nz-button nzType="primary" style="margin-right: 10px">上传预训练模型</button>
    <button (click)="addConfig()" nz-button nzType="primary">新增任务</button>
  </ng-template>
</page-header>
<nz-card>
  <sf mode="search" [schema]="searchSchema" (formSubmit)="search($event)" (formReset)="reset($event)"></sf>
  <st
    #st
    [page]="page"
    [pi]="searchStream$.value.pi"
    [ps]="searchStream$.value.ps"
    [columns]="columns"
    [total]="total"
    [data]="missionList"
    [columns]="columns"
    [loading]="isLoading"
    (change)="change($event)"
  ></st>
</nz-card>
