<div class="l-page">
  <div class="l-header">
    <div class="l-header__bar"> </div>
    <div>训练任务管理</div>
  </div>

  <div>
    <div class="l-btns">
      <button (click)="uploadDatasets()" nz-button class="c-rl-button" style="margin-right: 10px">上传数据集</button>
      <button (click)="uploadModels()" nz-button class="c-rl-button" style="margin-right: 10px">上传预训练模型</button>
      <button (click)="addConfig()" nz-button class="c-rl-button" style="margin-right: auto">新增任务</button>
      <sf mode="search" [schema]="searchSchema" (formSubmit)="search($event)" (formReset)="reset($event)"></sf>
    </div>
    <st
      #st
      [page]="page"
      [pi]="searchStream$.value.pi"
      [ps]="searchStream$.value.ps"
      [columns]="columns"
      [total]="total"
      [data]="missionList"
      [columns]="columns"
      [loading]="isLoading"
      (change)="change($event)"
    >
      <ng-template st-row="status-badge" let-item>
        <div class="c-rl-status-badge c-rl-status-badge_init" *ngIf="item.status == 'init'">未执行</div>
        <div class="c-rl-status-badge c-rl-status-badge_active" *ngIf="item.status == 'active'">运行中</div>
        <div class="c-rl-status-badge c-rl-status-badge_done" *ngIf="item.status == 'done'">已完成</div>
      </ng-template>
    </st>
  </div>
</div>
